<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay">
      <div class="modal__container">
        <header class="modal__header" ></header>
        <main class="modal__content" id="modal-1-content">
            <div id="micromodal-group-0-content" class="qvplaceholder"></div>
        </main>              
        <footer class="modal__footer" >
          <button id="modal-close-button" class="btn btn-block btn-primary" data-micromodal-close aria-label="Close">Close</button>
        </footer>
      </div>
    </div>
  </div>