<div class="modal micromodal-slide" id="modal-image" aria-hidden="true">
    <div class="modal__overlay">
      <div class="modal__container" id="micromodal-container">
        <header class="modal__header" ><button id="modal-close">X</button></header>
        <main class="modal__content" id="modal-image-content">
            <div id="micromodal-content" class="qvplaceholder"></div>
        </main>              
        <footer class="modal__footer" >
          <!-- button id="modal-close-button" class="btn btn-block btn-primary" data-micromodal-close aria-label="Close">Close</button-->
        </footer>
      </div>
    </div>
  </div>